################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OI.API/.vs
/OI.API/bin/Debug/net8.0
/OI.API/obj
/OI.web/web/.vscode
