
#oi-header-logo {
  font-family: "RocknRoll One", serif;
  width: 200px;
  position: relative;
  left: 20px;
  margin: 15px 15px 40px;
}

#oi-header-logo #oi-header-logo-l1 {
  margin: 0;
  background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px #666);
}
#oi-header-logo #oi-header-logo-l2 {
  margin: 3px;
  padding: 8px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 9px;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  color: var(--bg-color-primary);
  text-shadow: 1px 1px 4px #000000;
  box-shadow: 4px 8px 10px rgba(100, 100, 100, 0.4)
}
